
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,500;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

* {box-sizing: border-box;}
.navbar-nav {
  text-shadow: 2px 2px 3px black;
  color: #1fa2f3;
  padding-left: 1vw;
  font-size: clamp(18px, 1.3vw, 28px);
}

#home, #resume, #projects {
  padding-right: 1em;
  letter-spacing: .2vw;
}



.navwrap {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  box-shadow: 0px 2px 15px black;
}
.navwrap img{
  height: clamp(90px, 9vw, 110px);
  opacity: 90%;
}
/* ********************************************************************************************************************************************************************************************* */
/* body all pages *******************************************************************************************************************************************************************************/

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../home-imgs/bg-bl-bl.jpg);
  /* background-color: #3b4850; */
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

/* footer all pages *************************************************************************************************************************************************************************** */


footer {
  background-color: #343a40;
  border: 1px solid black;
  margin-top: auto;
  max-height: 12vh;
  min-height: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: grid;
  justify-content: center;
  box-shadow: 0px -5px 8px black;
}

.footer-text {
  justify-content: center;
  text-align: center;
  opacity: 30%;
}

.footer-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1vw;
  padding-bottom: 1vw;
}

footer img {
  opacity: 50%;
  height: 2vw;
}
.made-with {
  color: white;
  letter-spacing: .2em;
  font-style: italic;
}
.footer-sig {
  color: white;
  text-align: center;
  opacity: 40%;
}
.footer-text, 
.footer-sig { 
  font-size: clamp(8px, .8vw, 12px);
}


/* *************************************************************************************************************************************************************************************************** */
/* *************************************************************************************************************************************************************************************************** */
/*home page start ************************************************************************************************************************************************************************************ */

.intro-grid {
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 270px 270px 1fr 1fr 1fr 1fr;
  display: grid;
  text-align: center;
  gap: 2em;
  padding-block-start: 1em;
  grid-template-areas:
  ". . . . . . . iot1 . . iot2"
  ". g1 . . . . . . g2 . ."
  ". . . . . w1 . . . w2 ."
  "m1 . . . . m2 . . . . ."
  "ct1 . . . . . . . . . ct2"
  "c1 . . . . . . . . . c2";
}
.grid-name-title h1 {font-size: clamp(26px, 2.25vw, 40px); letter-spacing: .2em;}
.grid-name-title h2 {font-size: clamp(15px, 1.55vw, 30px); letter-spacing: .3em;}
.grid-name-title h1, .grid-name-title h2 {
  font-style: italic;
}

.grid-welcome h2 {
  font-style: italic;
  font-size: clamp(18px, 2.5vw, 30px);
}


.grid-name-title p, .grid-welcome p {
  font-size: clamp(14px, .8vw, 16px);
}
.grid-name-title a:visited, .grid-name-title a:link {color: white;}

.grid-name-title a:hover {color: #1fa2f3;}

.grid-name-title {
  grid-row: 1 / 3;
  grid-column: g1 / g2;
  box-shadow: 0px 0px 20px black;
  border-radius: .5em;
  padding-top: 5vw;
  background-color: #3B5367;
  border: .25vh solid #c28422;
  background-image: url(../home-imgs/techy2.png);
  background-size: 40em;
  background-repeat: no-repeat;
  max-height: 20vw;
  max-width: 65vw;
}



.grid-welcome {
  grid-row: 2 / 5;
  grid-column: w1 / w2;
  padding-top: 2em;
  border-radius: 2em;
  box-shadow: 0px 0px 20px black;
  padding: 4em;
  color: white;
  background-color: #3B5367;
  border: .25vh solid #c28422;
}
.introtext {text-align: left;}

.grid-map {
  grid-row: 2 / 6;
  grid-column: m1 / m2;
  background-image: url(../home-imgs/cloudmap.png);
  background-position: bottom;
  background-size: 55vw;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 20%;
}

.grid-iot {
  grid-row: 1 / 4;
  grid-column: iot1 / iot2;
  background-image: url(../home-imgs/iot.png);
  background-position: top;
  background-size: 25vw;
  background-repeat: no-repeat;
  padding: 2em;
  opacity: 15%;
}

.grid-certs {
  grid-row: 5 / 6;
  grid-column: c1 / c2;
  background-image:  url(../home-imgs/certs2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 20px black;
  border: 2px solid black;
  background-color:#3B5367;
  width: 100%;
  max-height: 25vh;
}

/* home/base breakpoint mid screen *****************************************************************************************************************************************************************/

@media (max-width: 1650px) {
  .intro-grid {
    grid-template-rows: 220px 220px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". . . . . . . iot1 . . iot2"
    ". g1 . . . . . . g2 ."
    ". . . . w1 . . . . w2 ."
    "m1 . . . . m2 . . . . ."
    "ct1 . . . . . . . . . ct2"
    "c1 . . . . . . . . . c2";
  }
}

@media (max-width: 1550px) {
    .intro-grid {
      grid-template-rows: 200px 200px 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1500px) {
  .intro-grid {
  grid-template-rows: 175px 175px 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1400px) {
  .intro-grid {
  grid-template-rows: 150px 150px 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1350px) {
  .intro-grid {
    grid-template-rows: 130px 130px 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .grid-iot {
    grid-row: 1 / 3;
  }
  .grid-map {
    grid-row: 2 / 5;
    background-size: 50vw;
  }
}



/* home/base breakpoint small screen ***************************************************************************************************************************************************************/

@media (max-width: 60em) {

  body {
    background-image: url(../home-imgs/bg-bl-bl-sm.jpg);
  }

  .grid-name-title {
    max-width: none;
    max-height: none;
  }

  .intro-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    display: grid;
    padding-block: .5em;
    gap: 1em;
    grid-template-areas:
    "g1 . . . . . . g2"
    "w1 . . . . . . w2"
    ". . . iot1 . . . iot2 "
    "m1 . . . . . m2 ."
    "c1 . . . . . . c2"
    "ct1 . . . . . . ct2"
    "cc1 . . . . . . cc2";
    padding-left: 5vw;
    padding-right: 5vw;
  }


  
  .grid-name-title {
    grid-row: 1 / 2;
    padding: 1em;
    padding-top: 3em;
  }
  .grid-welcome {
    grid-row: 2 / 6;
    border-radius: .5em;
    padding: 0;
    padding-top: 8vw;
    padding-left: 1em;
    padding-right: 1em;
  }

  .grid-welcome p {text-align: left; padding-left: 5vw; padding-right: 5vw;}
  
  .grid-iot {
    grid-row: 4 / 6;
    background-size: 50vw;
    opacity: 10%;
    scale: transform();
  }
  .grid-map {
    grid-row: 2 / 4;
    background-size: 80vw;
    opacity: 10%;
  }
  .grid-certs {
    grid-row: 6 / 7;
  }
  
  footer img {
    height: 4vw;
  }
    
}

@media (max-width: 350px) {
  .intro-grid {
    grid-template-rows:  120px 120px 1fr 1fr 1fr 1fr 1fr 1fr;
    min-width: 300px;
  }
}

/* ********************************************************************************************************************************************************************************************* */
/* ********************************************************************************************************************************************************************************************* */
/* resume page start *************************************************************************************************************************************************************************** */

.resume_parent {
  display: grid;
  font-size: clamp(10px, 1vw, 14px);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, auto);
  gap: .5em;
  padding: 4em;
  padding-left: 20em;
  padding-right: 20em;
  grid-template-areas:
  "res1 . . . . res2"
  "dl1 . . . . dl2"
  "res-img1 . . . . res-img2"
  "s1 . . . . s2"
  "sk1 . . . . sk2"
  "c1 . c2 t1 . t2"
  "ex1 . . . . ex2"
  "ed1 . . . . ed2"
  ;
}

.resume_parent h1 {
  color: #1fa2f3;
  text-shadow: 2px 2px 1px black;
  font-size: clamp(18px, 3vw, 30px);
}

.resume_parent h4 {
  color: #1fa2f3;
  text-shadow: 4px 4px 6px black;
  font-size: clamp(14px, 2.25vw, 20px);
  text-decoration-line: underline;
}

.res-title,
.summary,
.skills,
.certs,
.tech,
.exp,
.edu,
.res-dl {
  background-color: #3B5367;
  border: .003vh solid #c28422;
  box-shadow: 5px 5px 10px black;
  border-radius: .5em;
  padding: 1.5em;

}



.res-title {
  grid-row: 1 / 2;
  grid-column: res1 / res2;
  text-align: center;
  letter-spacing: .2em;
  font-style: italic;
  padding-right: 8vw;
}



.res-img {
  grid-row: 1 / 3;
  grid-column: res-img1 / res-img2;
  background-image: url(../home-imgs/resumebar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85vw;
  opacity: 8%;
}

.summary {
  grid-row: 2 / 3;
  grid-column: s1 / s2;
  background-image: url(../home-imgs/quotebox.png);
  background-repeat: no-repeat;
  background-size: 15em;
}

.summary p {
  font-size: inherit;
  padding: 5em;
  padding-left: 8em;
  padding-right: 8em;
}
.summary span, .tech span {
  text-shadow: 2px 2px 4px black;
  font-size: inherit;
  color: #68e0f8;
}



.skills {
  grid-row: 3 / 4;
  grid-column: sk1 / sk2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "sc1 sc2";
  padding-right: 8em;
  padding-left: 8em;
}
.skillchild {grid-area: sc1;}
.skillchild2 {grid-area: sc2;}
.skill-li {
  color: white;
  text-align: left;
}
.skills ul {
  padding: 0;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1em;
  font-size: clamp(12px, .75vw, 16px);
}


.res-dl {
  grid-row: 4 / 5;
  grid-column: dl1 / dl2;
  text-align: center;  
  padding-right: 8vw;
  color: white;
}
.res-dl-link a {padding-right: 3vw; padding-left: 3vw;}
.res-dl img {
  width: 2vw;
  min-width: 20px;
}

.res-dl-link a:visited, .res-dl-link a:link {color: white;}

.res-dl-link a:hover {color: #1fa2f3;}


.certs {
  grid-row: 5 / 6;
  grid-column: c1 / c2;
}
.certwrapper {
  display: flex;
  justify-content: center; 
}
.certwrapper img {
  width: 8vw;
  max-width: 10em;
  padding-top: 1em;
}

.tech {
  grid-row: 5 / 6;
  grid-column: t1 / t2;
}
.tech p {
  color: white;
  font-size: inherit;
  padding-top: 1em;
}

.exp {
  grid-row: 6 / 7;
  grid-column: ex1 / ex2;
}

.exp-parent {
  display: flex;
  flex-wrap: wrap;
  margin: .5em;
  padding-block: 1em;
  font-size: inherit;
}

.exp p {
  padding: 1em;
  flex: 1 0 33%;
  border: .1vw solid black;
  box-shadow: 2px 2px 5px black;
  color: white;
}
.exp-child {
  padding: 1em;
  flex: 1 0 100%;
  color: white;
}

.accomplishments {
  display: flex;
  padding: 1em;
  width: 100vw;
  & p {
    padding: 1em;
    color: white;
    width: 20%;
  }
}

.edu {
  grid-row: 7 / 8;
  grid-column: ed1 / ed2;
}
.edu-parent {
  display: flex;
  flex-wrap: wrap;
  font-size: inherit;
}
.edu-child {
  flex: 1 0 100%;
  color: white;
}

/* Resume Breakpoint ************************************************************************************************************************************************************************* */

@media (max-width: 60em) {
  .resume_parent {
    grid-template-areas:
    "res1 . . . . res2"
    "dl1 . . . . dl2"
    "res-img1 . . . . res-img2"
    "s1 . . . . s2"
    "sk1 . . . . sk2"
    "c1 . . . . c2"
    "t1 . . . . t2"
    "ex1 . . . . ex2"
    "ed1 . . . . ed2"
  ;
    padding: .25rem;
  }
  .summary p {
    padding: 1.5em;
  }
  .summary {
    background-size: 12em;
  }
  .certs {
    grid-row: 5 / 6;
  }
  .tech {
    grid-row: 6 / 7;
  }
  .exp {
    grid-row: 7 / 8;
  }
  .edu {
    grid-row: 8 / 9;
  }
  .certwrapper img {
    width: 20vw;
  }
  .res-img {
    grid-row: 1 / 2;
    background-size: 90VW;
    background-position: top;
  }
  .skills {
    padding: 1.5em;
  }
  
}


/* ********************************************************************************************************************************************************************************************* */
/* ********************************************************************************************************************************************************************************************* */
/* projects homepage start ********************************************************************************************************************************************************************* */


.project-home-intro {
  display: block;
  padding-top: 1em;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  padding-bottom: 10em;
}
.project-home-intro h1 {
  font-size: clamp(24px, 4vw, 36px);
  padding-bottom: 1em;
  color: #c28422;
  text-shadow: 5px 5px 10px black;
  font-style: italic;
  text-align: center;
  
}
.project-home-img-wrapper {
  display: flex;
  flex-wrap: wrap;
  border: .25vw solid black;
  border-radius: 1em;
  background-color: whitesmoke;
  opacity: 90%;
}
.project-home-img1 {
  width: 33%;
  order: 1;
  padding-top: 2em;
}
.project-home-img2 {
  width: 33%;
  order: 2;
}
.project-home-img2 img, .project-home-img1 img, .project-home-img3 img {
  background-color: whitesmoke;
  border-radius: 1em;
}
.project-home-img3 {
  width: 33%;
  order: 3;
  padding-top: 1em;
}
.project-home-img-wrapper img {
  width: 100%;
  
}

.project-home-intro-wrapper {
  background-color: #3B5367;
  border: .02vh solid #c28422;
  border-radius: .5em;
  padding: 1em;
  background-image: url(../home-imgs/techy2.png);
  background-repeat: no-repeat;
}


.project-links {
  display: block;
  padding-top: 1em;
  padding-bottom: 10em;
  text-align: left;
}

.project-links p {
  color: white;
  font-size: clamp(11px, 1vw, 14px);
  padding: 2em;
  padding-top: .5em;
}

.project-links a {
  color: #1fa2f3;
  text-shadow: 2px 2px 4px black;
  font-style: italic;
  text-align: center;
  font-size: clamp(16px, 1.8vw, 30px);
}

.project-links a:link {
  color: #1fa2f3;
}

.project-links a:visited {
  color: #1fa2f3;
}

.project-links a:hover {
  color: #D1F5FF;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: .1vh solid white;
}


@media (max-width: 60em) {
  .project-home-intro {
    padding: 0;
    padding-block: .5em;
  }
}



/* ************************** Test Stuff ********************************************* */

.changer-grid {
  display: grid;
  justify-content: center;
  max-height: 30vh;
}


.one {
  color: blue;
}
.two {
  color: red;
}