
#base {
    background-image: none;
    background-color: #343a40;
}


#intro-decorator {
    background-color: #3B5367;
    border: .1vw solid #c28422;
    border-radius: .5em;
    background-image: url(../home-imgs/techy2.png);
    background-repeat: no-repeat;
}

#intro img {
    background-color: white; 
    padding: 2em;
}

#intro p {
    padding: 2em;
}

#intro-decorator h3 {
    color: white;
    text-shadow: 5px 5px 10px black;
    font-size: clamp(18px, 2vw, 30px);
}


#decorator {
    background-color: #3B5367;
    border: .1vw solid #c28422;
    border-radius: .5em;
}

#decorator p {
    color: white;
    font-size: clamp(11px, 1.5vw, 14px);
}

#decorator span {
    text-shadow: 2px 2px 4px black; color: #c28422;
}



#heading {
    font-size: clamp(24px, 4vw, 36px);
    color: #c28422;
    text-shadow: 5px 5px 10px black;
    font-style: italic;
}

#subheading {
    font-size: clamp(10px, 1vw, 24px);
    color: white;
    text-shadow: 5px 5px 10px black;
    font-style: italic;
}





#section-heading {
    font-size: clamp(20px, 3.5vw, 24px);
    font-style: italic;
    text-decoration-line: underline;
    color: #c28422;
    text-shadow: 2px 2px 10px black;
    padding-bottom: 1vw;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}


.btt {
    font-size: clamp(14px, 1.75vw, 20px);
    text-shadow: 2px 2px 4px black;
}

#links p{
    text-shadow: 2px 2px 5px black;
}

a:link, a:visited {color: #D1F5FF;}
a:hover {color: #1fa2f3;}
.greenlink:link, .greenlink:visited {color: rgb(42, 200, 50);}
.greenlink:hover {color: #1fa2f3;}
.btt:link, .btt:visited {color: #1fa2f3;}
.btt:hover {color: #D1F5FF;}
.demo:link, .demo:visited {color: white;}
.demo:hover {color: #1fa2f3;}


@media (min-width: 0px) {
    
  }
@media (min-width: 576px) {
    #intr-img {
        padding: 0;
    }
  }
@media (min-width: 768px) {
    #intr-img {
        padding: 2em;
    }
  }