
{% extends "base.html" %} 

{% block title %}Home{% endblock %} 
{% block head %}

{% endblock %}
{% block content %}

<main class="intro-grid">
    <article class="grid-greet">
        <h1 style="color:orange">Hey There!</h1>
    </article>
    <article class="grid-who">
        <h3>My name is Steve Yuhas. Welcome to my site...</h3>
    </article>
    <article class="grid-intro">
        <p>my intro</p>
    </article>
    <article class="grid-certs">
    </article>
    <article class="grid-pic1">
    </article>
    <article class="grid-pic2">
    </article>
    <article class="grid-pic3">
    </article>


</main>


{% endblock %}
