
{% extends "base.html" %} 

{% block title %}Home{% endblock %} 
{% block head %}

{% endblock %}
{% block content %}


<div class="body_home">

    <div class="flex-container">
        <div class="flex-child"><h5>
            <div class="float-img-greeting">
                <img src="{{ url_for('static', filename='portrait.png') }}" alt="">
            </div>
        </div>
        <div class="flex-child">
            <div class="flex-greeting"><h3 style="color: black; font-style: italic;">Hi.</h3><div>
            <div class="home_msg">I’m Steve. I have a passion for all things IT. 
                Particularly Cloud and even more particularly AWS and DevOps. I am currently in the process of enacting a significant career change in my life from Professional Chef to full-fledged IT nerd guy. 
                I have spent the last year immersing myself various platforms, languages, and technologies. I always challenge myself to learn something new every day, and I have</div>
        </div>
    </div>  


    
    
    
</div>


 







{% endblock %}
