
{% extends "base.html" %} 

{% block title %}Home{% endblock %} 
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}

<main class="intro-grid">

    <article class="grid-iot">
        
    </article>

    

    <article class="grid-name-title">
        <h1 style="text-shadow: 3px 3px 4px black; color: #c28422;">Stephen Yuhas</h1>
        <h2>::Aspiring IT Professional:: </h2>
    </article>

   

    <article class="grid-welcome">
        <div class="flyin"><h2 style="text-shadow: 5px 5px 10px black;">Welcome</h2></div>
        <p style="text-align: center;">My name is <span style="color:#c28422; text-shadow: 5px 5px 10px black; font-size: larger;">Steve</span></p>
        <div class="introtext">
            <p>I have a passion for all things IT and have recently transitioned into the field after a decade and a half of dedication to my prior career.</p>
            
            
            <p>I have found myself particularly interested in cloud computing and over the past two years, have achieved two certifications in Amazon Web Services and relevant college curriculum.</p>
            
            <p>Currently I am working as an IT project management consultant and business analyst for a non-profit mental health organization which has been both a fantastic and fulfilling role and learning experience.</p>
            
            <p>I am continually pursuing additional supplemental studies and coursework to learn and grow in the industry and am seeking new opportunities as I progress further along in my career.</p>
            
            <p>I created this site from the ground up to catalogue and track my progress, test out new skills and showcase new projects as my knowledge base grows.</p>

            <p>I have brought my passion, persistence and commitment to the field of IT and will continue to do the same as I advance further in the industry.</p>

            <p>Thank you for visiting my site and I look forward to hearing your reactions to it.</p>
            
            <p style="text-shadow: 5px 5px 10px black; font-style: italic; text-align: center;">~&nbsp; Stephen Yuhas
            </p>
        </div>
        
        
    </article>
    
    <article class="grid-map">
        
    </article>

    <article class="grid-certs">
    </article>
    <article class="grid-credlycerts">
        
    </article>
    


</main>


{% endblock %}
