
{% extends "base.html" %} 

{% block title %}Projects{% endblock %} 
{% block head %}

{% endblock %}
{% block content %}

<main class="project-home-intro">
    <div class="project-home-intro-wrapper">
        <h1>Projects</h1>
        <div class="project-home-img-wrapper">
            <section class="project-home-img1">
                <img src="{{ url_for('static', filename='idea.png') }}" alt="">
            </section>
            <section class="project-home-img2">
                <img style="background-color: white;" src="{{ url_for('static', filename='plan.png') }}" alt="">
            </section>
            <section class="project-home-img3">
                <img src="{{ url_for('static', filename='project-home2.png') }}" alt="">
            </section>
        </div>
        <section class="project-home-text">
            <p>Welcome to my&nbsp; <span style="color: #c28422; text-shadow: 2px 2px 5px black;">projects</span> &nbsp;page. <br><br> Here I will be uploading a collection of projects I have completed and compiled. I am currently in the process of transferring more to the site so be sure to check back soon!</p>
        </section>
        <div class="project-links">
            <a href="/project_site">How I Made This Site</a>
            <p>An in depth explanation of how this site was made with all of the resources used.</p>
        </div>
    </div>
</main>

{% endblock %}