
{% extends "base.html" %} 

{% block title %}Resume{% endblock %} 
{% block head %}

{% endblock %}
{% block content %}

<main class="resume_parent">

    <h1 class="res-title">Resume</h1>

    <section class="res-img"></section>

    <section class="summary">
        <h4>Summary</h4>
        <p style="color: white; padding: 5em;">
            Motivated professional in the process of making a career shift. After more than a decade of business experience in hospitality and restaurant management, I have developed a passion for working with cloud services, with a focused interest in AWS, DevOps, IaC and Docker technologies. Skilled in setting and managing team goals and collaborative project management. Currently pursuing BS in Computer Science and have completed two AWS Certifications, with an additional Network+ certification in progress. Career goals include working with DevOps CI/CD-based deployment models and IaC technologies. Seeking a full time IT role that will provide challenge and experience in design and deployment of cloud infrastructures.
        </p>
    </section>

    <section class="skills">
        <article class="skillchild">
            <h4>Technical</h4>
            <ul>
                <li class="skill-li">Amazon Web Services - 1 year</li>
                <li class="skill-li">Network Security - 1 year</li>
                <li class="skill-li">Point of Sale Computer Systems - 10 years</li>
                <li class="skill-li">Cloud Computing - 1 year</li>
            </ul>
        </article>
        <article class="skillchild2">
            <h4>Soft Skills</h4>
            <ul>
                <li class="skill-li">Strong communication skills</li>
                <li class="skill-li">Team building, collaborative management</li>
                <li class="skill-li">Critical Thinking</li>
                <li class="skill-li">Attention to Detail</li>
                <li class="skill-li">Persistence</li>
            </ul>
        </article>
    </section>

    <section class="certs"><h4>Certifications</h4>
        <section class="certwrapper">
            <p><img src="{{ url_for('static', filename='ccp.png') }}" alt=""></p>
            <p><img src="{{ url_for('static', filename='saa.png') }}" alt=""></p>
        </section>
    </section>
    <section class="tech">
        <h4>Technologies</h4>
        <p>CLOUD PLATFORMS: AWS</p>
        <p>LANGUAGES: PYTHON, C++, SQL</p>
        <p>SOFTWARE: VISUAL STUDIO CODE, GIT, PYCHARM, MYSQL WORKBENCH, MS OFFICE</p>

    </section>

    <section class="exp"><h4>Professional Experience</h4>
        <section class="exp-parent">
            <p style="color: white; text-shadow: 4px 4px 8px black;">The Ale House</p>  <p>Columbia, MD</p>    <p style="font-style: italic">2019 – Present</p>
            <article class="exp-child">
                <ul>
                    <li>Guide and mentor a team of culinary professionals to execute efficiently and consistently</li>
                    <li>Develop and research unique cuisine to deliver business value while keeping customer satisfaction at the forefront</li>
                    <li>Foster and create relationships with food service-related companies and representatives</li>
                    <li>Use computer systems and detailed reports to budget and control variable costs</li>
                </ul>
            </article>
            <p style="color: white; text-shadow: 4px 4px 8px black;">Sullivan's Steakhouse</p>  <p>Baltimore, MD</p>    <p style="font-style: italic">2017 – 2019</p>
            <article class="exp-child">
                <ul>
                    <li>Cultivated a professional culinary team in a corporate structured environment at a high level of service</li>
                    <li>Formulated daily production lists based on financial forecasts and an accurate on-hand inventory</li>
                    <li>Refined computer systems and generated forecasts to closely monitor costs against weekly budget</li>
                    <li>Monitored operations closely to adhere with strict corporate operational guidelines</li>
                </ul>
            </article>
            <p style="color: white; text-shadow: 4px 4px 8px black;">Grill 620</p>  <p>Marriotsville, MD</p>    <p style="font-style: italic">2016 – 2017</p>
            <article class="exp-child">
                <ul>
                    <li>Designed and executed fine dining scratch cuisine</li>
                    <li>Managed and guided a team of culinary professionals in a challenging environment</li>
                    <li>Procured high quality product and cultivated relationships with purveyors</li>
                    <li>Adhered to rigid health guidelines and refined levels of cleanliness and operational excellence</li>
                </ul>
            </article>
            <p style="color: white; text-shadow: 4px 4px 8px black;">Cattail Creek Country Club</p>  <p>Glenwood, MD</p>    <p style="font-style: italic">2008 – 2016</p>
            <article class="exp-child">
                <ul>
                    <li>Promoted from Cold Side Cook to Saute and Grill Cook within one year</li>
                    <li>Responsible for implementing new specials for the daily menu</li>
                    <li>Maintain a thorough knowledge of all line stations including expeditor</li>
                    <li>Played a key role in managing kitchen operations for high volume catering and banquet events for up to 1000 people</li>
                </ul>
            </article>
        </section>
        
        


    </section>
    <section class="edu"><h4>Education</h4>
        <article class="edu-parent">
            <p class="edu-child"><span style="text-shadow: 2px 2px 5px black;">B.S. Computer Science</span> - in progress (Est. completion 2025)</p>
            <p class="edu-child">
                <ul>
                    <li>Current: Howard Community College</li>
                    <li>Studying: Computer Science, Calculus</li>
                </ul>
            </p>
            <p class="edu-child"><span style="text-shadow: 2px 2px 5px black;">Certificate, Culinary Arts</span> - Anne Arundel Community College - 2012</p>
        </article>
    </section>
</main>

{% endblock %}