
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

* {box-sizing: border-box;}

.navwrap img{
  height: 6em;
  opacity: 100%;
}

  
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../static/bluetangradient2.jpg);
  background-size: cover;
  
}

.main {
  font-family: 'Red Hat Display', sans-serif;
  font-size: clamp(8px, 3vw, 28px);
  border: .5vw solid black;
}


.intro-grid {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  display: grid;
  text-align: center;
  padding-block: 1em;
  padding-left: 5vw;
  grid-template-areas:
  ". . iot1 . . . iot2 . "
  "g1 g2 . w1 . . w2 ."
  "m1 . . . . m2 . ."
  ". d1 . d2 . . . ."
  "c1 . . . c2 . . .";
  
}

.grid-greet h1, h2 {
  font-size: clamp(18px, 4vw, 32px);
}
.grid-greet h2 {
  font-style: italic;
}

p {
  font-size: clamp(10px, 2vw, 16px);
}

.grid-greet {
  grid-row: 1 / 3;
  grid-column: g1 / g2;
  box-shadow: -5px -5px 10px #4e4a41;
  border-radius: .5em;
  min-width: 40vw;
  padding-top: 5vh;
  padding-bottom: 30vh;
}



.grid-who {
  grid-row: 2 / 6;
  grid-column: w1 / w2;
  padding-top: 2em;
  border-radius: .25em;
  box-shadow: 10px 10px 5px #4e4a41;
  padding: 1em;
  background-color: #264e58;
  color: white;
}

.grid-map {
  grid-row: 2 / 6;
  grid-column: m1 / m2;
  background-image: url(../static/cloudmap.png);
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: top-left;
  opacity: 20%;
}

.grid-iot {
  grid-row: 1 / 2;
  grid-column: iot1 / iot2;
  background-image: url(../static/iot.png);
  background-position: right;
  background-size: 25vw;
  background-repeat: no-repeat;
  padding: 2em;
  opacity: 20%;
}

.grid-dev {
  grid-row: 4 / 5;
  grid-column: d1 / d2;
  background-image: url(../static/devops2.png);
  background-position: left;
  background-size: 20vw;
  background-repeat: no-repeat;
  padding: 2em;
  opacity: 10%;
}

.grid-certs {
  grid-row: 5 / 6;
  grid-column: c1 / c2;
  background-image: url(../static/certs.png);
  background-size: 40vw;
  background-position: center;
  background-repeat: no-repeat;
}





footer {
  background-color: #4e4a41;
  border: 1px solid black;
  margin-top: auto;
  min-height: 6vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: grid;
  justify-content: center;
}

.footer-text {
  
  justify-content: center;
  text-align: center;
  color: rgb(248, 157, 21);
  opacity: 30%;
}

.footer-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

footer img {
  opacity: 60%;
  height: 7vh;
  min-height: 4vh;
}
.made-with {
  color: white;
  letter-spacing: 1em;
  transform: scaleY(85%);
}



@media (max-device-width: 60em) {

  .intro-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    display: grid;
    padding-block: .5em;
    padding-left: 10vw;
    min-height: 100vh;
    grid-template-areas:
    "g1 . . . . . g2 ."
    "w1 . . . . . w2 ."
    ". . . iot1 . . . iot2 "
    "m1 . . . . . . m2"
    "d1 . . d2 . . . ."
    "c1 . . . . . c2 .";
    
  }



  .grid-greet {
    grid-row: 1 / 2;
    padding: 0;
    padding-top: 2em;
    border: .25vw solid black;
  }
  .grid-who {
    grid-row: 3 / 6;
  }
  .grid-map {
    grid-row: 2 / 4;
    background-size: 50vh;
    
  }
  .grid-iot {
    grid-row: 4 / 6;
  }
  .grid-certs {
    grid-row: 7 / 7;
    background-size: 30vh;
  }
  .grid-dev {
    grid-row: 3 / 5;
  }
  
  footer img {
    opacity: 60%;
    height: 3vh;
    min-height: 4vh;
  }
    
}

