div.picbar {
  background-image: url(../static/cloudtech.jpg);
}

div.picbar_img img {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

div.main {
  height: 400px;
  width: 100%;
  background-color: rgb(58, 74, 110);
  text-align: center;
  border: 05px solid rgb(23, 21, 21);

}

h4.digsteve {
  font: 200;
  font-family: fantasy;
  color: goldenrod;
}
